.whyidt {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 50px;
}

.whyidt h2, .whyidt h5 {
  font-weight: bold;
}

.whyidt .content-card {
  display: flex;
  height: auto;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  align-items: center;
  margin-bottom: 15px;
}

.whyidt .content-card img {
  max-width: 50px;
  height: auto;
}

.whyidt .content-card-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 5px;
  margin-left: 10px;
  text-align: justify;
}

@media (max-width: 768px) {
  .whyidt {
      padding: 30px;
  }

  .whyidt .content-card {
      flex-direction: column;
      height: auto;
      text-align: center;
  }

  .whyidt .content-card img {
      margin-bottom: 15px;
  }

  .whyidt .content-card-text {
      margin: 0;
      text-align: center;
  }
}

@media (max-width: 576px) {
  .whyidt h2 {
      font-size: 1.5rem;
  }

  .whyidt h5 {
      font-size: 1.2rem;
  }

  .whyidt p {
      font-size: 0.9rem;
  }

  .whyidt {
      padding: 20px;
  }

  .whyidt .content-card {
      padding: 10px;
  }
}